<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/" style="font-family: Cursive;">
      Result Management System</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="nav navbar-nav ml-auto navbar-collapse justify-content-end">
          <li class="nav-item">
            <a class="nav-link active" href="/" style="font-weight: bold; font-size: 25px; font-family: Cursive;">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/about" style="font-weight: bold; font-size: 25px; font-family: Cursive;">About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>